<% layout("/layouts/boilerplate.ejs") -%>

   <style>
         #filters{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          /* flex-direction: column; */
          margin-left: 1rem;
         }
         .filter{
          text-align: center;
          margin-right: 2rem;
          margin-top: 2rem;
          opacity: 0.7;
         } 
         .filter:hover{
          opacity: 1;
          cursor: pointer;
         }
         .filter p{
          font-size: 0.8rem;
         }
         .tax-info{
          display: none;
         }
         .tax-toggle{
          border: 1px solid black;
          border-radius: 1rem;
          height: 3.25rem;
          padding: 1rem;
          margin-left: 3rem;
          display: flex;
          align-items: center;
         }
   </style>
    <!-- <h3 >All Listings</h3> -->
     <div id="filters">
      <div class="filter">
        <div>
            <i class="fa-solid fa-fire "></i>
             
        </div>
        <p>Trending</p>
        </div>

        <div class="filter">
         <div>
           <i class="fa-solid fa-bed"></i>
        </div>
           <p>Rooms</p>
        </div>
      <div class="filter">
        <div>
            <i class="fa-solid fa-fire "></i>
             
        </div>
        <p>Trending</p>
        </div>

        <div class="filter">
         <div>
           <i class="fa-solid fa-bed"></i>
        </div>
           <p>Rooms</p>
        </div>
      <div class="filter">
        <div>
           <i class="fa-regular fa-mountain-city"></i>
             
        </div>
        <p>Iconic cities</p>
        </div>

        <div class="filter">
         <div>
           <i class="fa-solid fa-mountain"></i>
        </div>
           <p>Mountain cities</p>
        </div>
        <div class="filter">
         <div>
          <i class="fa-brands fa-fort-awesome"></i>
        </div>
           <p>Castles</p>
        </div>
        <div class="filter">
         <div>
          <i class="fa-solid fa-snowflake"></i>
        </div>
           <p>Arctic</p>
        </div>
        <div class="filter">
         <div>
          <i class="fa-solid fa-tractor"></i>
        </div>
           <p>Farms</p>
        </div>
        <div class="filter">
         <div>
          <i class="fa-solid fa-campground"></i>
        </div>
           <p>Camping</p>
        </div>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after tax</label>
</div>
      </div>
      </div>
    
       

 <div class="row justify-content-center mt-3">
      <% for(let listing of allListings){ %>

      <div class="card listing-card" style="width: 18rem">
        <img
          src="<%= listing.image.url %>"
          style="height: 20rem"
          class="card-img-top card-img"
          alt="..."
        />
        <div class="card-img-overlay">
       
        </div>
        <div class="card-body">
          <b> <h5 class="card-title"><%= listing.title %></h5></b>
          <p class="card-text">₹<%=listing.price.toLocaleString("en-IN") %>/night
             <i class="tax-info">&nbsp; &nbsp;+ 18% GST</i></p>
      
           <!-- making the card link -->
          <a href="/listings/<%= listing._id %>" class="stretched-link"> </a>
        </div>
      </div>

      <%} %>
    </div>

<script>
  let taxSwitch=document.getElementById('switchCheckDefault')
  taxSwitch.addEventListener('click',()=>{
    let taxInfo=document.getElementsByClassName('tax-info')
    
      for(info of taxInfo){
        if(info.style.display!='inline'){
           info.style.display='inline';
        }
        else{
            info.style.display="none";
        }
      
      }
  })
</script>