<% layout("/layouts/boilerplate.ejs") -%>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br />
        <br />
        <h2>Create a new Listing</h2>
         <!-- enctype : for image or file upload data  -->
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              id="title"
              class="form-control"
              name="listing[title]"
              placeholder="Add a catchy title"
              type="text"
              required
            />
            <div class="valid-feedback">
      Looks good!
    </div>
            <div class="invalid-feedback">
      Title should be valid!
    </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              id="description"
              name="listing[description]"
              class="form-control"
              type="text"
              required
            ></textarea>
                    <div class="valid-feedback">
      Looks good!
    </div>
            <div class="invalid-feedback">
      Please! add a short Description
    </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
              id="image"
              name="listing[image]"
              class="form-control"
              type="file"
           
            />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input
                id="price"
                name="listing[price]"
                class="form-control"
                placeholder="1200"
               
                required
              />
                      <div class="valid-feedback">
      Looks good!
    </div>
            <div class="invalid-feedback">
      Price should be valid !
    </div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input
                id="country"
                name="listing[country]"
                class="form-control"
                placeholder="India"
                type="text"
                required
              />
                      <div class="valid-feedback">
      Looks good!
    </div>
            <div class="invalid-feedback">
      Country should be valid!
    </div>
            </div>
          </div>
          <div class="mb-5">
            <label for="location" class="form-label">Location</label>
            <input
              id="location"
              name="listing[location]"
              class="form-control"
              placeholder="Jaipur,Rajasthan"
              type="text"
              required
            />
                    <div class="valid-feedback">
      Looks good!
    </div>
            <div class="invalid-feedback">
      Location should be valid!
    </div>
          </div>
          <button type="submit" class="btn btn-dark add-btn">Add</button>
          <br />
          <br />
        </form>
      </div>
    </div>
  </body>